@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@font-face {
    font-family: space_range;
    src: url(./fuentes/spaceranger.ttf);
 }
 /*font-family: 'Comfortaa', cursive;*/
:root{
    --azul-oscuro: #011b77;
    --amarillo: #eee502;
    --verde:#00973c;
    --azul-claro:#87b0dc;
    --dorado:#f1d866;
    --blanco-hueso-brillamnte:#F8F6F4;
    --morado-oscuro:#71267f;
    --morado-claro:#8f4b9d;
}
*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(260deg, #4E4FEB, #87b0dc);
    width: 100%;
    min-width: 320px;
    height: 300px;
    box-sizing: border-box;
    flex-wrap:1 ;
}
.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_icon{
    position: relative;
    left: 150px;
    bottom: 110px;
}
.logo_container_img{
    width: 120px;
}
.logo_container_titulo{
    font-family: space_range;
    color: var(--blanco-hueso-brillamnte);
    font-weight: 100;
    font-size: 100%px;
}
.logo_container_parrafo{
    font-family: 'Comfortaa', cursive; 
    color: var(--dorado);
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px; 
    
}
.header-button{
    position:absolute;
    top: 250px;
    display: block;
    margin: 25px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    width: 260px;
    height: 48px;
    background-color: var(--blanco-hueso-brillamnte);
    border-radius: 20px;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--azul-oscuro);
    z-index: 100;
}
.header-button span{
    position: absolute;
    right: 120px;
    top: 30px;
    width: 35px;
    height: 40px;
    margin-left: 6px;
    background-image: url(./img/svg/more.svg);
}


.tasa-container{
    display: flex;
    flex-direction: column;
    height: 700px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;

}
.info{
    
    text-align: center;
    font-size: 1.4rem;
}
.info h2{
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 90px;
    font-family:'Comfortaa', cursive;
    font-weight:bolder;
    font-size: 25px;
    color:var(--morado-oscuro) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
}
.info-tasa{
    display: flex;
    


}
.background-image img{
    width: 50px;
    
}
.tasa-interactiva{
    display: flex;
    flex-direction: column;
    align-content: space-between;

}
.tasa-num{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 170px;
    height: 50px;
    font-family:space_range ;
    font-size: 50px;
    border-radius: 90px;
    background-color: var(--azul-oscuro);
    color: var(--amarillo);
    
}
.tasa-fecha{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 190px;
    height: 50px;
    font-family:space_range ;
    font-size: 30px;
    border-radius: 90px;
    background-color: var(--morado-oscuro);
    color: var(--azul-claro);
    
}
.carousel-slide{
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.carousel-slide img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;
}
.calculadoraContenedor
{
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 5px #FFEA20;
    background-image: linear-gradient(45deg, #865DFF, #060047);
    border-radius: 10px;
    

}
.inputCop label{
    font-size: 30px;
    color: white;
}
.inputCop input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding-left: 5px;
}
.botones-calcular{
    display: flex;
    gap: 30px;    
}
.btn-calcular{
    width: 150px;
    height:40px ;
    border-radius:30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}


.img-bs{
    width: 30px;
}
.img-usd{
    width: 30px;
}
.resultado-conversion{
    display: flex;
    gap: 80px;
    font-size: 27px;
    font-weight: 600;
    color: white;
}
.img-icon{
    display: flex;
    gap: 150px;
}
.titulo-transferencia{
    color: #FFEA20;
    text-align: center;
}

