*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: space_range;
    src: url(./fuentes/spaceranger.ttf);
}
body{
    background-image: linear-gradient( 262deg, #11009E, #9681EB);
    height: 100vh;
}
header{
    display: flex;
    border-bottom: #fff solid 3px;
    align-items: center;
    justify-content: space-between

}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
}

.title{
    font-family: space_range;
    font-weight: 1;
    -webkit-text-stroke: 2px #11009E;
    color:#fff;
    font-size: 35px;
    
}
ul{
    display: flex;
    color: white;
    gap: 20px;
    gap: 15vh;
}
ul li {
    list-style: none;
    font-family: space_range;  
    
}
li a {
    text-decoration: none;
    color: #fff;
}

.login{
    display: none;
}
.button_login{
    margin: 25px 50px 25px 50px;
}
.btn_lg{
    width: 120px;
    height: 35px;
    border-radius: 90px;
    background-color: black;
    border: 3px rgb(215, 225, 13) solid;
    color: rgb(215, 225, 13);
    font-family:space_range;
    cursor: pointer;
    font-size: 20px;

}
li:hover{
    animation:slide-top 0.3s linear both}
    @keyframes slide-top
    {0%{transform:translateY(0)}100%{transform:translateY(-5px)}  
}
.btn_lg:hover{animation:shadow-drop-center 0.2s linear both} @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 50px 0 rgb(200, 191, 242)}
}
.calculadoraContenedor
{
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 5px #FFEA20;
    background-image: linear-gradient(45deg, #865DFF, #060047);
    border-radius: 10px;
    margin-top: 15px;

}
.inputCop label{
    font-size: 30px;
    color: white;
}
.inputCop input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding-left: 5px;
}
.botones-calcular{
    display: flex;
    gap: 30px;    
}
.btn-calcular{
    width: 150px;
    height:40px ;
    border-radius:30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}


.img-bs{
    width: 30px;
}
.img-usd{
    width: 30px;
}
.resultado-conversion{
    display: flex;
    gap: 80px;
    font-size: 27px;
    font-weight: 600;
    color: white;
}
.img-icon{
    display: flex;
    gap: 150px;
}
.titulo-transferencia{
    color: #FFEA20;
    text-align: center;
}
main{
    display:flex;
    height: 73%;
    gap: 60px;
    justify-content: space-between;
}
.imagen-banner{
    width: 300px;
}
/* Estilos generales del footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    color: #666;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer-logo img {
    max-width: 100px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links a {
    color: #666;
    text-decoration: none;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social a {
    color: #666;
    text-decoration: none;
  }
  
  /* Estilos para el texto de derechos de autor */
  .footer-bottom {
    margin-top: 10px;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #999;
  }
  
  
